* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Tilt Neon', sans-serif, 'VT323', monospace;
   

}

:root {
    --ion-color-rojo: #ff013c;
    --ion-color-rojo-rgb: 255, 1, 60;
    --ion-color-rojo-contrast: #000000;
    --ion-color-rojo-contrast-rgb: 0, 0, 0;
    --ion-color-rojo-shade: #e00135;
    --ion-color-rojo-tint: #ff1a50;

    --ion-color-celeste: #00e6f6;
    --ion-color-celeste-rgb: 0, 230, 246;
    --ion-color-celeste-contrast: #000000;
    --ion-color-celeste-contrast-rgb: 0, 0, 0;
    --ion-color-celeste-shade: #00cad8;
    --ion-color-celeste-tint: #1ae9f7;
}

/* colores */
.rojo {
    background-color: var(--ion-color-rojo);
    color: var(--ion-color-celeste);
}

.celeste {
    background-color: rgba(var(--ion-color-celeste-rgb), 1);
    color: var(--ion-color-rojo);
}

/* tipografias */
h1 ,h2{
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 400;
    font-size: 4vh;
}
h3 {
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 400;
    font-size:  3vh;
}

a {
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
a:hover {
    color: #fff;
}

p {
   font-family: 'VT323', monospace;
   font-weight: 400;
   font-size: 50px; 
}
strong {
    color: #ff013c;
}

span {
    color: #00e6f6;
}

li {
    font-family: 'Six Caps', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.fondo {
    background-color:#000000;
}



/* boton */
.boton,
.boton::after {
    padding: 16px 20px;
    background: linear-gradient(45deg, transparent 5%, #a30000 5%);
    border: 0;
    color: #fff;
    letter-spacing: 4px;
    line-height: 1;
    box-shadow: 6px 0px 0px #04a2a3;
    outline: transparent;
    position: relative;
}

.boton::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "brunila";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f1f0ea, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.boton:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}


#main {
    background: url(../img/otrocelgcr.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* declaracion de estilos cuando la pantalla tiene un ancho mayor a mobile */
@media only screen and (min-width: 576px) {
    #main {
        background: url(../img/ponele1c.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background-repeat: no-repeat;
        height: 100vh;
    }

    h1 {
        font-family: 'Tilt Neon', sans-serif;
        font-weight: 400;
        font-size: 50px;
    }

    strong {
        color: #ff013c;
    }

    span {
        color: #00e6f6;
    }

}



.text-v {
    text-orientation: upright;
    letter-spacing: 0.5px;
    writing-mode: vertical-rl;
    font-size: 40px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.icons{
    font-size: 5em;
}



  
/* cards */

.cartas {
  
    position: relative;
    text-align: center;
    overflow: hidden; 
}

.cartas:before,
.cartas:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

.cartas:before {
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px #00e6f6; 
    transform: translate(-4px, -4px);
    animation: glitchy 0.3s ease 0.3s infinite;
}

.cartas:after {
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 4px #ff013c;
    transform: translate(3px, 3px);
    animation: glitchy 0.3s ease infinite reverse;
}

.table {
    display: table;
    width: 80%;
    
}

.table-cell {
   
    display: table-cell;
    vertical-align: middle;
    
  
}

.imagen {
    width: 100%;
    transition: transform 0.5s ease;
  }

  .cartas:hover .imagen {
    transform: scale(1.1); /* Ajusta el valor según sea necesario para el nivel de zoom deseado */
  }



/* link */
.line-link {
    position: relative;
    display: inline-block;
    letter-spacing: 0.10em;
    z-index: 1;
    border-bottom: 1px solid fade(#fff, 75%);
    padding-bottom: 10px;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 1px;
        visibility: hidden;
    }
    
    &:before {
        background-color: #ff013c;
        z-index: -1;
    }

    &:after {
        background-color:#00e6f6;
        z-index: -2;
    }
    
    &:hover {
        &:before {
            visibility: visible;
            animation: line-glitchy 0.3s ease 0.3s infinite;
        }
        
        &:after {
            visibility: visible;
            animation: line-glitchy 0.3s ease infinite reverse;
        }
    }
}
@keyframes line-glitchy {
    0%   {transform: translate(-1px, 1px);}
    25%  {transform: translate(-1px, -1px);}
    50%  {transform: translate(1px, 1px);}
    75%  {transform: translate(1px, -1px);}
    100%  {transform: translate(-1px, 1px);}
}





  
